<div id="balance-sheet">
    <h1>Review the Data</h1>
    <h3>Business Name: {{ businessName}}</h3>
    <h3>yearEstablished: {{yearEstablished}}</h3>
    <h3>loanAmount:{{loanAmount}}</h3>

    <h2>Balance Sheet</h2>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Profit/Loss</th>
                <th>Assets Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sheet of balanceSheet">
                <td>{{ sheet.year }}</td>
                <td>{{ sheet.month }}</td>
                <td>{{ sheet.profitOrLoss }}</td>
                <td>{{ sheet.assetsValue }}</td>
            </tr>
        </tbody>
    </table>
    <button id="apply-loan" (click)="applyLoan()">Apply Loan</button>
</div>
